@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

.background {
  background-color: #fff4e7;
  display: flex;
  flex-direction: column;
}

.fonte {
  font-family: "Amatic SC", sans-serif;
  font-weight: 600;
  font-size: xx-large;
}

.heading {
  font-family: "Amatic SC", sans-serif;
  font-weight: 800;
  font-size: xx-large;
}

.p {
  font-family: "Amatic SC", sans-serif;
  font-weight: 800;
  font-size: large;
}
